@import url(navbar.css);
@import url(general.css);
/* import-end
*--------------------------------------------------------------
*/


/* FAQ html Start
*--------------------------------------------------------------
===================================================*/
  .asking-header{
    margin-top: 100px;
    width: 100%;
    padding: 65px 0;
    background-color: #215644;
    color: #fff;
  }
  .sns-call-wrap{
    padding: 0 250px;
  }
  .call-icon{
    font-size: 1.2rem;
    margin-bottom: 13px;
  }
  .call-wrap>p{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 2px;
  }
  /* pc-call-wrap end */
  .sns-call-wrap-mobile{
    display: none;
  }
  .btn-call{
    border-radius: 8px;
    border: 1px white solid;
    width: 125px;
    height: 42px;
    line-height: 42px;
    font-size: 13px;
  }
  .btn-call:first-child{
    margin-right: 15px;
  }
  .call-icon-mobile{
    font-size: 13px;
  }
  /* mobile-end */
  .asking-main{
    padding: 20px 0 20px 0;
    background-color: white;
  }
  #asking{
    margin-top: 60px;
  }
  .asking-btn {
    background-color: white;
    color: #333;
    width: 125px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #333;
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 1rem;
  }
  .asking-btn:hover{
    color: #333;
  }
 .asking-active, .asking-active:hover{
    color: #fff;
    background: #215644;
    border: 1px solid #215644;
    box-shadow: 0 14px 26px -12px rgb(33 86 68 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(33 86 68 / 20%);
  }
  .faq-2-list,.faq-3-list,.faq-4-list,.faq-5-list,.faq-6-list{
    display: none;
  }
  @media (max-width: 992px) {
    .sns-call-wrap{
      display: none;
    }
    .sns-call-wrap-mobile{
      display: block;
    }
    .asking-btn {
      width: 167px;
      height: 45px;
   }
  }
/* asking-btn-end
*--------------------------------------------------------------
*/

/* # F.A.Q
--------------------------------------------------------------*/ 
.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 400;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #215644;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}
.faq-subheader{
  margin: 70px 0 20px 0;
}
.faq-subheading{
  text-align: left;
  color: #215644;
}

/* 
--------------------------------------------------------------
FAQ html end 
---------------------------------------------------------------
 */

/* 
--------------------------------------------------------------
qna html Start 
---------------------------------------------------------------
 */
#qna{
  padding-top: 200px;
}
.qna-for{
  width: 100px;
  height: 50px;
}
.qna-select{
  width: 150px;
  font-size: 0.9rem;
}
.qna-title{
  width: 200px;
}
.qna-submit{
  padding: 9px 50px;
  background: #215644;
  color: #fff;
  border: 1px solid #215644;
}
.qna-submit:hover{
  box-shadow: 0 14px 26px -12px rgb(33 86 68 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(33 86 68 / 20%);
}
