@import url(navbar.css);
@import url(general.css);
/* import-end
*--------------------------------------------------------------
*/


/* FAQ html Start
*--------------------------------------------------------------
===================================================*/
  .asking-header{
    margin-top: 100px;
    width: 100%;
    padding: 65px 0;
    background-color: #215644;
    color: #fff;
  }
  .sns-call-wrap{
    padding: 0 250px;
  }
  .call-icon{
    font-size: 1.2rem;
    margin-bottom: 13px;
  }
  .call-wrap>p{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 2px;
  }
  /* pc-call-wrap end */
  .sns-call-wrap-mobile{
    display: none;
  }
  .btn-call{
    border-radius: 8px;
    border: 1px white solid;
    width: 125px;
    height: 42px;
    line-height: 42px;
    font-size: 13px;
  }
  .btn-call:first-child{
    margin-right: 15px;
  }
  .call-icon-mobile{
    font-size: 13px;
  }
  /* mobile-end */
  .asking-main{
    padding: 20px 0 20px 0;
    background-color: white;
  }
  #asking{
    margin-top: 60px;
  }
  .asking-btn {
    background-color: white;
    color: #333;
    width: 125px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #333;
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 1rem;
  }
  .asking-btn:hover{
    color: #333;
  }
  .sns-call-white{
    color: #fff;
  }
 .asking-active, .asking-active:hover{
    color: #fff;
    background: #215644;
    border: 1px solid #215644;
    box-shadow: 0 14px 26px -12px rgb(33 86 68 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(33 86 68 / 20%);
  }
  .faq-2-list,.faq-3-list,.faq-4-list,.faq-5-list,.faq-6-list{
    display: none;
  }
  @media (max-width: 1091px){
    .asking-btn {
      width: 145px;
      height: 45px;
      line-height: 45px;
      margin-right: 8px;
      margin-bottom: 8px;
      font-size: 1rem;
    }
  }
  @media (max-width: 992px) {
    .sns-call-wrap{
      display: none;
    }
    .sns-call-wrap-mobile{
      display: block;
    }
    .asking-btn {
      width: 167px;
      height: 45px;
   }
   .asking-btn {
    width: 168px;
    height: 45px;
    line-height: 45px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
  }
  @media (max-width:415px){
    .faq .accordion-header .accordion-button{
      font-size: 15px;
    }
    .faq .accordion-body{
      font-size: 15px;
      line-height: 22px;
    }
    .accordion-button::after {
      width: 1.2rem;
      height: 1.2rem;
    }
    .asking-btn {
      width: 120px;
      height: 45px;
      line-height: 45px;
      margin-right: 8px;
      margin-bottom: 8px;
      font-size: 15px;
  }
  }
/* asking-btn-end
*--------------------------------------------------------------
*/

/* # F.A.Q
--------------------------------------------------------------*/ 
.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 400;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #215644;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}
.faq-subheader{
  margin: 70px 0 20px 0;
}
.faq-subheading{
  text-align: left;
  color: #215644;
}

/* 
--------------------------------------------------------------
FAQ html end 
---------------------------------------------------------------
 */

/* 
--------------------------------------------------------------
qna html Start 
---------------------------------------------------------------
 */
#qna{
  padding-top: 150px;
}
#qna .table{
  color: #333;
}
#qna .table-title{
  font-size: 1rem;
  padding: 30px 0 30px 8px;
}
#qna .table-padding{
  padding: 30px 0 30px 8px;
}
#qna .select{
  font-size: 15px;
  color: #333;
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
  outline: none;
}
#qna h2{
  font-weight: 700;
  color: #333;
  margin-bottom: 3%;
}
#qna .main-color{
  color: #2c755e;
}
/* #qna br{
  display: none;
} */
#qna th {
  color: #333;
  font-weight: 700;
}
#qna td{
  width: 92%;
}
textarea.form-control {
  display: block;
  width: 100%;
  height: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 26px;
}
.form-control {
  position: relative;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  font-family: inherit;
  font-size: inherit;
  color: #111;
  line-height: 46px;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* table end */
.all-agree-box {
  margin-right: 0;
  padding: 24px;
  border: 1px solid #d9d9d9;
}
.all-agree-box + .agree-list {
  border-top: none;
}
.radio-gr input[type=checkbox] + label, .radio-gr input[type=radio] + label {
  position: relative;
  display: inline-block;
  min-height: 24px;
  padding-left: 32px;
  font-size: inherit;
  line-height: 1.5;
}
.all-agree-box label {
  color: #333;
  font-weight: 500;
}
.radio-gr input[type=checkbox] + label:after {
  top: 7px;
  left: 6px;
  width: 11px;
  height: 7px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: #c4c4c4;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.radio-gr input[type=checkbox] + label:before, .radio-gr input[type=radio] + label:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: .3s cubic-bezier(.4, .0, .23, 1);
  transition: .3s cubic-bezier(.4, .0, .23, 1);
}
.radio-gr input[type=checkbox] + label:after, .radio-gr input[type=radio] + label:after {
  display: block;
  position: absolute;
  z-index: 4;
  content: "";
  -webkit-transition: .3s cubic-bezier(.4, .0, .23, 1);
  transition: .3s cubic-bezier(.4, .0, .23, 1);
}
.radio-gr input[type=checkbox]:checked + label:before {
  background-color: #215644;
  border-color: #215644;
}
.radio-gr input[type=checkbox]:checked + label:after {
  border-color: #fff;
}
#all_agree{
  display: none;
}
.agree-list {
  padding: 32px 24px;
  background-color: #f5f5f5;
  border: 1px solid #e9e9e9;
}
/* agree-box end */
#qna .qna-submit{
  padding: 9px 50px;
  background: #215644;
  color: #fff;
  border: 1px solid #215644;
}
.qna-submit-wrap:hover .qna-submit:hover{
    color: #fff;
    background: #215644;
    border: 1px solid #215644;
    box-shadow: 0 14px 26px -12px rgb(33 86 68 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(33 86 68 / 20%);
}
/* qna submit end */
@media (max-width:994px){
  #qna td{
    width: 85%;
  }

}
@media (max-width:415px){
  #qna {
    padding-top: 150px;
  }
  #qna .qna-submit {
    padding: 8px 35px;
  }
  #qna td{
    width: 80%;
  }
}
@media (max-width:281px){
  #qna td{
    width: 72%;
  }
}
/* 
--------------------------------------------------------------
qna html end
---------------------------------------------------------------
 */
/* 
--------------------------------------------------------------
notice html Start 
---------------------------------------------------------------
 */
#notice{
  padding-top: 170px;
}
#notice h2{
  font-weight: 700;
  color: #333;
  margin-bottom: 3%;
}
#notice .main-color{
  color: #2c755e;
}
#notice .table{
  line-height: 60px;
}
#notice .notice-title:hover{
  text-decoration: underline;
  text-underline-offset: 1px;
  color: #333;
}
#notice .pagination > li.active > a, .pagination > li.active > span {
  background-color: #215644;
  border-color: #215644;
  color: #fff;
}
#notice .pagination > li > a, .pagination > li > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  color: #999999;
  line-height: 38px;
  text-align: center;
  letter-spacing: -.5px;
}
#notice .pagination >li > a:hover{
  color: #fff;
  background: #215644;
  box-shadow: 0 14px 26px -12px rgb(33 86 68 / 42%),
   0 4px 23px 0px rgb(0 0 0 / 12%),
   0 8px 10px -5px rgb(33 86 68 / 20%);
}
#notice .notice-list-contents-wrap th{
  color: #333;
} 
#notice .notice-list-contents-wrap td{
  color: rgb(121, 120, 120);
} 
#notice .notice-list-contents{
  color: #333;
}
#notice .notice-list-btn-wrap{
  margin: 0 auto;
}
#notice .notice-list-contents{
  padding: 20px 30px 20px 5px;
}
#notice .notice-list-contents h3{
  line-height: 45px;
}
#notice .notice-list-contents p{
  line-height: 35px;
}
#notice .getstarted{
    width: 100px;
    padding: 12px 35px;
    margin: 0 auto;
}
@media (max-width: 361px) {
  #notice h2{
    font-size: 1.4rem;
  }
  #notice th{
    font-size: 14px;
  }
  #notice td{
    font-size: 14px;
  }
}
@media (max-width: 321px) {
  #notice h2{
    font-size: 1.2rem;
  }
  #notice th{
    font-size: 12px;
  }
  #notice td{
    font-size: 12px;
  }
}
/* 
--------------------------------------------------------------
notice html end 
---------------------------------------------------------------
 */
/* 
--------------------------------------------------------------
custom html Start
---------------------------------------------------------------
 */
 .custom-steps-connect{
  width: 7.5rem;
  height: 1px;
  background: rgb(189, 189, 189);
  margin: 0 1rem;
 }
 .custom-steps-active{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #215644 !important;
    font-family: 'Noto Sans KR', sans-serif;
    color: white !important;
    text-align: center;
    line-height: 25px;
    padding: 4px 12px;
    margin-right: 1rem;
 }
 .custom .custom-steps-wrap .main-color{
   color: #215644 !important;
   font-weight: 400;
 }
 .custom-steps{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #999999;
  font-family: 'Noto Sans KR', sans-serif;
  color: #999999;
  text-align: center;
  line-height: 25px;
  margin-right: 1rem;
  padding: 4px 12px;
}
.custom-steps-wrap span{
  color: #999;
  font-weight: 400;
  font-size: 1rem;
}
/* pc end */
#custom-navbar-mobile{
  display: none;
}
.custom-steps-connect-m{
  width: 2.5rem;
  height: 1px;
  background: rgb(189, 189, 189);
  margin: 0 0.4rem;
 }
 .custom-steps-active-m{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #215644 !important;
    font-family: 'Noto Sans KR', sans-serif;
    color: white !important;
    text-align: center;
    line-height: 18px;
    padding: 3px 10.5px;
    margin-right: 0.4rem;
 }
 .custom-steps-m{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #999999;
  font-family: 'Noto Sans KR', sans-serif;
  color: #999999;
  text-align: center;
  line-height: 18px;
  margin-right: 0.4rem;
  padding: 3px 10.5px;
}
.custom-steps-wrap-m span{
  color: #999;
  font-weight: 400;
  font-size: 1rem;
}
/* header end */
#custom{
  padding-top: 150px;
}
#custom h2{
  line-height: 40px;
  font-weight: 400;
  padding: 0;
}
#custom p{
  color: #999;
  line-height: 25px;
}
#custom .main-color{
  color: #318468 !important;
}
/* custom-title end */
#custom .custom-q-title{
  font-weight: 500;
  line-height: 45px;
}
#custom .custom-q-ex{
  color: #444;
  font-weight: 400;
}
#custom .custom-btn-c{
  border: 1px solid #d9d9d9;
  border-radius: 4px 0 0 4px;
  width: 230px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
}
#custom .custom-btn-c-none{
  border-radius: 4px 0 0 4px;
  width: 230px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 1.4rem;
  font-weight: 400;
}
#custom .custom-btn-c:hover{
  color: #318468;
}
#custom .mb-c{
  margin-bottom: 30px;
}
#custom .btn-ml{
  margin-left: 30px;
}
#custom .custom-q-d{
  color: #999;
}
#custom .custom-btn-t{
  border: 1px solid #d9d9d9;
  border-radius: 4px 0 0 4px;
  width: 230px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  padding: 0px 10px 0px 10px ;
}
#custom .custom-type-wrap{
  border: 1px solid #d9d9d9;
  border-radius: 4px 0 0 4px;
  width: 300px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
}
#custom .custom-type-wrap:hover, .custom-type-wrap:focus{
  border: 1px solid #318468;
}
#custom .custom-type{
  border: none;
  box-shadow: none;
  width: 230px;
}
#custom .custom-type:focus, .custom-type:hover{
  border: none;
  outline: none;
  box-shadow: none;
}
.clearfix{
  clear: both;
}
#custom .custom-type{
  background-color: none !important;
}
#custom .custom-btn-c-b{
  border: 1px solid #d9d9d9;
  border-radius: 4px 0 0 4px;
  width: 400px;
  height: 120px;
  text-align: center;
  line-height: 60px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
}
#custom .custom-btn-c-b:hover{
  color: #318468;
}
#custom .getstarted{
  width: 400px;
  padding: 30px 20px;
  border-radius: 4px 0 0 4px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  cursor: pointer;
}
#custom .custom-q-2 ,.custom-q-2{
  display: none;
}
.form-check-input:checked {
  background-color: #215844 !important;
  border-color: #215844 !important;
}
.form-mr{
  margin-right: 5%;
}
#custom .form-check{
  text-align: left;
}
/* ==========active====  */
.activea,.activeb,.activec,.actived,.activee,.activef{
  background-color: #318468;
  color: #fff !important;
}
@media (max-width: 992px) {
  .custom-navbar-pc{
    display: none;
  }
  .custom-navbar-mobile{
    display: block !important;
  }
}
/* 
--------------------------------------------------------------
custom html end 
---------------------------------------------------------------
 */
#last-earth .last-earth-bg{
  background-image: url(../img/last-earth-bg.jpg);
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  
}
#last-earth{
  padding:  60px 0 0 0;
  margin-top: 30px;
}
#last-earth h1{
  line-height: 7rem;
  font-size: 4.5rem;
  color: #fff;
  font-weight: 500;
}
#last-earth .pd{
  padding-top: 50px;
}
#last-earth h2{
  color: #ffff;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
}
#last-earth .m-br{
  display: none;
}
#last-earth .dot{
  color: #3c9a7b;
  font-size: 6rem;
}
#last-earth .main-color{
  color: #3c9a7b;
}
#myVideo{
  width: 100%;
  max-width: 960px;
}
#earth{
  background-image: url(../img/bg_key_word.jpg);
  background-size: 100%;
}
#earth .earth-bg{
  text-align: center;
  width: 100%;
  max-width: 1180px;
  background: rgba(255,255,255,0.6);
}
#earth h2{
  font-size: 30px;
  text-align: center;
  line-height: 45px;
  color: #535353;
  letter-spacing: -2px;
}
#earth .earth-img-bg{
  width: 100%;
}

@media (max-width: 1023px) and (min-width: 319px){
  #last-earth{
    padding:  95px 0 0 0;
    margin-top: 0;
  }
  #last-earth h1 {
    line-height: 3rem;
    font-size: 2.3rem;
    color: #fff;
  }
  #last-earth h2 {
    color: #fff;
    font-size: 1.0rem;
    line-height: 1.6rem;

    letter-spacing: 1px;
}
#last-earth .dot{
  color: #3c9a7b;
  font-size: 3rem;
}
  #earth h2 {
    font-size: 17px;
    line-height: 25px;
    padding-top: 50px;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
}
#earth .earth-bg{
  text-align: center;
  width: 95%;
  background: rgba(255,255,255,0.6);
}
#myVideo{
  width: 95%;
}

}

@media (max-width:900px){
  #last-earth .m-br{
    display: block;
  }
}

@media (max-width:281){
  #last-earth{
    padding:  110px 0 0 0;
    margin-top: 0;
  }
  #last-earth h1 {
    line-height: 4rem;
    font-size: 2.3rem;
    color: #fff;
    font-weight: 400;
  }
  #last-earth h2 {
    color: #fff;
    font-size: 1.0rem;
    line-height: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
}
  #earth h2 {
    font-size: 17px;
    line-height: 25px;
    padding-top: 50px;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
}

}
@media(max-width:281px){
  #last-earth h1 {
    line-height: 3rem;
    font-size: 2.5rem;
}
#last-earth .dot {
  color: #3c9a7b;
  font-size: 3rem;
}
#last-earth h2 {
  font-size: 1rem;
  line-height: 2rem;
}
  #earth h2 {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: -2px;
}
}

/* 
--------------------------------------------------------------
service - form html  info-check Start
---------------------------------------------------------------
 */
#personal-info .footer-info-title{
  font-weight: 500;
}
#personal-info .footer-info-body{
  line-height: 1.7rem;
}
 /* 
--------------------------------------------------------------
service - form html / info-check end 
---------------------------------------------------------------
 */
/* 
--------------------------------------------------------------
service - form html  info-check Start
---------------------------------------------------------------
 */
 #Cvalue{
   padding-top: 100px;
 }
 #Cvalue .F-img>img{
   width: 100%;
 }
 #Cvalue .sm-title-C{
  color: rgb(34, 34, 34);
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
 }
 #Cvalue .main-title-C{
  font-weight: 700;
 }
 #Cvalue .inner-text-C{
  font-size: 17px;
  line-height: 27px;
  color: #535353;
 }
 #Cvalue .txt-w{
   color: white;
 }
 #Cvalue .fresh-items{
   width: 100%;
   background-image: url(../img/cvalue-img01.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }
 #Cvalue .cvalue-5{
   width: 100%;
   background-image: url(../img/cvalue-img02.jpg);
   background-repeat: no-repeat;
   background-size: cover;
 }
 #Cvalue .pb-c{
   padding-top: 200px;
   padding-bottom: 200px;
 }
 #Cvalue .b-bg{
   background: white;
    width: 250px;
    height: 256px;
    margin-right: 24px;
    border-radius: 2px;
    padding: 35px 20px;
    text-align: center;
    margin-bottom: 24px;
 }
 #Cvalue .C-icon{
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
 }
 #Cvalue .b-lg-txt{
  color: #101010;
  font-weight: 500;
  font-size: 17px;
  line-height: 40px;
 }
 #Cvalue .b-sm-txt{
  color: #101010;
  font-size: 14px;
  line-height: 22px;
 }
 #Cvalue .alarm-c{
   color: #215644;
   font-size: 14px;
 }
 #V-video{
   width: 100%;
 }
 @media (max-width: 281px) {
  #Cvalue .sm-title-C {
    font-size: 12px;
}
#Cvalue .main-title-C {
  font-weight: 700;
  font-size: 1.3rem;
}
#Cvalue .inner-text-C{
  font-size: 14px;
}
#Cvalue .inner-text{
  font-size: 14px;
}
}
 
 /* 
--------------------------------------------------------------
service - form html / info-check end 
---------------------------------------------------------------
 */
  /* 
--------------------------------------------------------------
Environment html Start 
---------------------------------------------------------------
 */
 #environment{
   padding-top: 100px;
 }
 #environment .F-img{
   width: 100%;
 }
 #environment .deliver{
   width: 100%;
   background-image: url(../img/environment-img03.jpg);
   background-repeat: no-repeat;
   padding-top: 105px;
   padding-bottom: 105px;
 }
 #environment .deliver>h3{
  font-size: 32px;
  font-weight: 300;
  line-height: 3rem;
  color: #fff;
 }
 #environment .cycle-img{
   width: 250px;
 }
 #environment .inner-text{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #333;
 }
 #environment .line{
  border-bottom: 1px solid #f4f4f4;
 }
#environment .mt-c{
  margin-top:80px;
}
 #environment .card {
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  transition: 0.5s;
}
#environment .card:hover {
  box-shadow: 0px 0 60px rgba(1, 41, 112, 0.1);
}
#environment .F-img{
  width: 100%;
}
 @media (max-width:992px ){
#environment br{
     display: none;
   }
#environment .inner-text{
  text-align: left;
}
 }
  /* 
--------------------------------------------------------------
Environment html end 
---------------------------------------------------------------
 */

